body{
    background-color: #eee;
    margin: 0;
}
.head{
    background-color: #d5dde2;
    width: 100%;
    height: 89px;
    position: relative;
}
h1.h{
    position: absolute;
    top: 5px;
    left: 120px;
}
.logo{
    height: 66px;
    margin: 7px 20px 7px;
}
.nav-right{
    float: right;
    margin: 30px 40px 0 0;
}
a{
    color: #445;
    text-decoration: none;
    font-size: 25px;
    font-family: "仿宋";
}
.paperone, .img, .table, .ce{
    background-color: white;
    box-shadow: 6px 9px 10px #aaaaaa;
    padding: 15px;
    margin: 20px;
     overflow: auto;
}
h3{
    text-align: center;
}
img.describe{
    width: 200px;
    height: 200px;
}
div.describe{
    float: left;
    margin: 20px;
}
table{
width: 100%;
text-align: right;
}
a#link{
    margin-right: 0;
}
.table{
    
}
.main{
    overflow: auto;
    position: relative;
}
div.left{
    margin-right: 330px;
}
div.ce{
    width: 280px;
    right: 0px;
    position: absolute;
    top:10px;
}
.footer{
  text-align: center;
  color: wheat;
  line-height: 89px;
    font-size: 25px;
    font-family: "仿宋";
   background-color: #212c33;
    width: 100%;
    height: 89px; 
}
p{
    
}